
  <div class="Main-card">

    <div class="card-head">
      <app-img-profil></app-img-profil>
      <div class="Title">
        <h1>Augustin Devaux</h1>
        <p>Assistant chef de projet</p>
      </div>
      <div class="links">
        <a class="social1" href="#"></a>
        <a class="social2" href="#"></a>
        <a class="social3" href="#"></a>
        <a class="social4" href="#"></a>
      </div>


    </div>
    <div class="summery">
      <div class="about">
        <h2>à propos <span>de moi même</span></h2>
        <p>Actuellement en Bachelor à Digital Campus Nantes</p>
        <a href="#">Téléchargez mon beau Cévé</a>
      </div>
      <div class="table">
        <table>
          <tr>
            <td>Age</td>
            <td>22</td>
          </tr>
          <tr>
            <td>Résidence</td>
            <td>Saint Herblain</td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td>duss@duss.com</td>
          </tr>
          <tr>
            <td>téléphone</td>
            <td>0123456789</td>
          </tr>

        </table>
      </div>
    </div>
    <div class="summery">
        <div class="about">
          <h2>à propos <span>de moi même</span></h2>
          <p>Actuellement en Bachelor à Digital Campus Nantes</p>
          <a href="#">Téléchargez mon beau Cévé</a>
        </div>
        <div class="table">
          <table>
            <tr>
              <td>Age</td>
              <td>22</td>
            </tr>
            <tr>
              <td>Résidence</td>
              <td>Saint Herblain</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>duss@duss.com</td>
            </tr>
            <tr>
              <td>téléphone</td>
              <td>0123456789</td>
            </tr>
  
          </table>
        </div>
      </div>
   <div class="summery">
        <div class="about">
          <h2>à propos <span>de moi même</span></h2>
          <p>Actuellement en Bachelor à Digital Campus Nantes</p>
          <a href="#">Téléchargez mon beau Cévé</a>
        </div>
        <div class="table">
          <table>
            <tr>
              <td>Age</td>
              <td>22</td>
            </tr>
            <tr>
              <td>Résidence</td>
              <td>Saint Herblain</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>duss@duss.com</td>
            </tr>
            <tr>
              <td>téléphone</td>
              <td>0123456789</td>
            </tr>
  
          </table>
        </div>
      </div>
    </div>

